body {background-color: blues;}

@keyframes animation {
    0%{
        transform: translateX(0);
        background-color: brown;
    }
    
    50% {
        transform: translateX(150px);
    }

    100% {transform: translateX(150px) rotate(20turn);
    color: blue;
    margin-top: 350px;
}
}

div {
    width: 250px;
    height: 25px;
    background-color: rgb(201, 182, 18);
}



 div:hover {
    animation: animation 8s;
 }

 h1 {text-align: center;}


img:hover {
  transform: scale(-1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


 

